body {
    font-family: 'Poppins', sans-serif;
}
.custom-navbar-brand {
    color: #EE7600;
}
.custom-hero-title {
    font-weight: 800;
}

.custom-hero-para {
    color: gray;
}
.custom-learn-button {
    background-color: #F5F5DC;
    border-radius: 27px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.custom-button {
    background-color: #FFAE42;
}
.custom-footer {
    color: white;
    background-color: #EE7600;
}
.custom-button-footer {
    color: black;
}
a:hover {
    text-decoration: none;
}
